.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #ccc;
  }
  
  .footer-left,
  .footer-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .footer-center {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  .language {
    text-decoration: none;
    color: #666;
    font-size: 14px;
  }
  
  .language:hover {
    color: #000;
  }
  
  .divider {
    color: #ccc;
  }
  
  .social-icon {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .social-icon:hover {
    color: #000;
  }
  @media (max-width: 768px) {
.footer{
  font-size: 10px;
  margin: 5px;
  padding: 10px;
}
.footer-center{
  font-size: 10px;
}
.social-icon{
  font-size: 10px;

}
.language{
  font-size: 9px;
  margin: 0px;
  align-items: left;
}
  }