.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 800;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: transparent; /* Default background color */
  transition: background-color 0.3s ease-in-out;
  font-family: Helvetica,Arial,  sans-serif !important;
}

.navbar-scrolled {
background-color: transparent;
background-image: radial-gradient(transparent 1px, var(--token-f32baa44-90b8-42a5-8bca-ffba9d95b23a, #ffffff) 1px);
background-size: 4px 4px;
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
mask: linear-gradient(rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 100%);
mask-size: auto;
mask-composite: add;
mask-mode: match-source;
opacity: 1;
z-index: 800;
 
}

.navbar-copyright {
  font-size: 1rem;
  color:inherit;
  z-index: 800;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  font-family: Helvetica,Arial,  sans-serif !important;
  z-index: 800;
}

.navbar-links li {
  margin: 0;
  padding: 0;
  z-index: 800;
}

.navbar-links li a {
  color: #000;
  text-decoration: none;
  font-weight: 100;
  transition: color 0.3s ease-in-out;
  z-index: 800;
}
.navbar-links li b {
  color: #FF007F;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  z-index: 800;
}
.navbar-links li b:hover {
  color: #333;
}

.navbar-links li a:hover {
  color: #FF007F;
}

.navbar-copyright {
  text-decoration: none;
  color: #000;
  font-weight: 200;
  transition: color 0.3s ease-in-out;
  z-index: 800;
}

.navbar-copyright:hover {
  color: #FF007F;
}
.scroll{
  background-color: #000;
}

@media (max-width: 768px) {
  .navbar-copyright {
    font-size: smaller;
    color: #333;
    text-align: left;
  }

  .navbar-links {
    font-size: smaller;
    gap:20px
  }
  .navbar {
    padding: 20px 10px;
  }
}