/* tra.css */

.slide-in,
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#FF007F ; /* Set your preferred background color */
  transform-origin: bottom ; /* Origin for animation */
  z-index: 100; /* Ensure it's above other components */
  
}

.slide-out {
  transform-origin: top !important; /* Adjust for the slide-out direction */
}

.slide-out-2{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#333 ; /* Set your preferred background color */
  transform-origin: top ; /* Origin for animation */
  z-index: 111; /* Ensure it's above other components */
  
}

